<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
{#    <title>{% block title %}FILL NAME HERE{% endblock %}</title>#}
{#    <link rel="icon" href="LINK ICON HERE">#}
{#    <link rel="stylesheet" href="LINK BOOTSTRAP HERE" type="text/css">#}
{#    <link rel="stylesheet" href="LINK CSS HERE" type="text/css">#}
</head>
<body>
<main class="container">
    <header>
        <h1 class="text-center display-4">
            <a href="{{ url_for('index') }}" class="text-success"><strong>LGU 告白墻</strong></a>
            <small class="text-muted sub-title">powered by Flask</small>
        </h1>
    </header>
{#"FINISH MESSAGE AND CONTENT BLOCK HERE"#}
    <footer class="text-center">
        {% block footer %}
            <small> &copy; 2018 EDIT FROM <a href="http://greyli.com" title="Written by Grey Li">Grey Li</a> /
                <a href="https://github.com/greyli/sayhello" title="Fork me on GitHub">GitHub</a> /
                <a href="http://helloflask.com" title="A HelloFlask project">HelloFlask</a>
            </small>
            <p><a id="bottom" href="#" title="Go Top">&uarr;</a></p>
        {% endblock %}
    </footer>
</main>

<script type="text/javascript" src="{{ url_for('static', filename='js/jquery-3.2.1.slim.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/popper.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/script.js') }}"></script>
{#{{ moment.include_moment("LINK MOMENT.js HERE") }}#}
</body>
</html>
